<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      >
<head>
	<title>Bookstore: List page</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        
	<h3>Books list</h3>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Author</th>
				<th>Title</th>
				<th>ISBN</th>
				<th>Year</th>
				<th>Category</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="book: ${books}">
				<td th:text="${book.author}" />
				<td th:text="${book.title}" />
				<td th:text="${book.isbn}" />
				<td th:text="${book.year}" />
				<td th:text="${book.category}" />
				<td sec:authorize="hasRole('ADMIN')">
					<a class="btn btn-danger" th:href="@{delete/{id}(id=${book.id})}">
						Delete
					</a>
				</td>
				<td>
					<a class="btn btn-danger" th:href="@{edit/{id}(id=${book.id})}">
						Edit
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<a href="addbook" class="btn btn-success">Add Book</a>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>
</body>
</html>